<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation">
  
  <div class="shrink cell navigation__inner">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggle="navigation--mobile" data-toggler=".is-active" type="button">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    <a href="/"><svg class="icon icon-vice-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-vice-logo"></use></svg></a>
  </div>
  
  <div class="shrink cell navigation__inner">
    <ul class="menu">
      <li><a href=""><svg class="icon icon-socials icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href=""><svg class="icon icon-socials icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      <li><a href=""><svg class="icon icon-socials icon-envelope"><use xlink:href="/assets/icons/symbol-defs.svg#icon-envelope"></use></svg></a></li>
    </ul>
  </div>
  
</div>
<!-- End Navigation -->




