<div class="full reveal" id="videoModal" data-reveal data-close-on-click="true" data-animation-in="slide-in-left" data-animation-out="slide-out-left">       
  <div class="grid-y align-center" style="height: 100%;">
  	<div class="cell shrink">
      
      <div class="grid-x grid-padding-x">
      	<div class="small-12 cell">
            <div class="responsive-embed widescreen">
              <iframe width="560" height="315" src="https://video.vice.com/en_uk/embed/59a5b6cf9178ecd016c27286" frameBorder="0" scrolling="no" allowfullscreen></iframe>
            </div>    
        </div>
      </div>
      
      <div class="grid-x align-center">
      	<div class="shrink cell">
          <button class="hamburger hamburger--collapse is-active" data-close aria-label="Close modal" type="button">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
          </button> 
        </div>
      </div>
      
    </div>  
  </div>
</div>