// Colors
// ------

$color--white: #FFFFFF;
$color--black: #090909;
$color--medium-gray: #9E9E9E;
$color--dark-blue: #130325;
$color--highlight: #FFD600;


$color--yellow: rgb(247, 232, 124);
$color--red: rgb(250, 75, 75);
$color--blue: rgb(0, 152, 210);
$color--orange: #FF8400;
$color--brown: #F0E8D3;