@font-face {
  font-family: 'Sharp Grotesk Medium 25 Regular';
  src: 
  url('../fonts/sharp-grotesk-medium-25-regular.woff2') format('woff2'), 
  url('../fonts/sharp-grotesk-medium-25-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Mono Regular';
  src: 
  url('../fonts/gt-america-mono-regular.woff2') format('woff2'), 
  url('../fonts/gt-america-mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}