@font-face {
  font-family: 'GT America Compressed Black';
  src: 
  url('../fonts/gt-america-compressed-black.woff2') format('woff2'), 
  url('../fonts/gt-america-compressed-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Mono Regular';
  src: 
  url('../fonts/gt-america-mono-regular.woff2') format('woff2'), 
  url('../fonts/gt-america-mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}