.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */



.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-socials {
  font-size: 1.5rem;
}

.icon-vice-logo {
  width: 3.0419921875em;
  font-size: 2rem;
}

.icon-logo-left {
  width: 1.873046875em;
  font-size: 10rem;
  color: $white;
}

.icon-logo-right {
  width: 2.244140625em;
  font-size: 10rem;
  color: $white;
}

.icon-vans-logo {
  width: 2.8681640625em;
  font-size: 1.5rem;
}