//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------



@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin link-underline($color, $size, $duration, $centered) {
  color: $color;
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &:before {
    background-color: $color;
    content: '';
    height: $size;
    position: absolute;
    bottom: 0 - ($size/2);
    transition: $duration;
    width: 0;
    @if $centered == 'true' {
      left: 50%;
      transform: translateX(-50%); 
    }
  }
  
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

a img {
  display: block;
//   filter: saturate(100%) brightness(80%); 
}

a:hover img {
//   filter: saturate(0%) brightness(50%); 
  box-shadow: 10px 10px #D31E1E;
}
    


// 3. Typography
// -------------

.underline {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

.accent {
  font-family: $primary-font-family;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
}

.sponsor li {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

// X. Navigation
// -------------

.navigation {
  z-index: 3;
}

.navigation__inner {
  z-index: 3;
}

.navigation--mobile {
  z-index: 1;
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  transition: $primary-transition;
  visibility: hidden;
  font-family: $header-font-family;
  font-size: 1.5rem;

  &.open {
    visibility: visible;
  }
  
  a {
    color: $color--white;
    padding: 1rem 0rem;
  }
  
  a:hover {
    color: $color--black;
  }
  
  .menu .active>a {
    color: black;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $color--white;
  } 
}

// X. Index
// -------------

.index__hero {
  background-color: $color--red;
}

.index__hero__inner {
  position: relative;
  padding: 3rem;
}

.index__logo-top-left {
  position: absolute;
  top: -1rem;
  left: 0;
}

.index__brand-bottom-left {
  position: absolute;
  left: 0;
  color: $white;
}

.index__logo-bottom-right {
  position: absolute;
  bottom: -1rem;
  right: 0;
}

// X. Category
// -------------

.category__hero {
  background-color: $color--red;
  color: $white;
  a {
    color: $white;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  .button {
    background-color: $black;
    text-decoration: none;
    text-transform: uppercase;
  }
  .button:hover {
    background-color: $white;
    color: $black;
  }
}


// X. Footer
// -------------

.footer {
  background-color: $color--red;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.sponsor {
  font-family: $tertiary-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: $white;
  }
  a:hover {
    color: $black;
  }
}