{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x index__hero">
	<div class="small-12 cell">
  	
  	<div class="grid-container">
    	<div class="grid-x grid-padding-x small-padding-collapse align-center index__hero__inner">
        <div class="small-12 medium-9 cell">
          
          
          <div class="index__logo-top-left">
          <svg class="icon icon-logo-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-left"></use></svg>
          </div>
          
          {% set image = entry.heroImage.first() %}
      		{% if image %}
      			<img src="{{ image.getUrl }}" alt="{{ image.title }}"/>
      		{% endif %}
          
          <div class="index__brand-bottom-left">
            <div class="sponsor">
              <a href="#">
              <ul class="menu align-center">
                <li>Presented by</li>
                <li><svg class="icon icon-vans-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-vans-logo"></use></svg></li>
              </ul>
              </a>
            </div>
          </div>
          
          <div class="index__logo-bottom-right show-for-medium">
          <svg class="icon icon-logo-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-right"></use></svg>
          </div>
          
      	</div>
      </div>
    </div>

	</div>
</div>

{% if entry.heroText|length %}
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y">
	<div class="small-12 medium-8 cell">
    {{ entry.heroText }}
    <button class="button" data-open="videoModal">Video</button>
  </div>
</div>
</div>
{% endif %}

<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y">
{% set categories = craft.categories %}
{% for category in categories %}
	<div class="small-12 medium-6 cell">
  	<a href="{{ category.url }}">
  	<h6>{{ loop.index }} / {{ loop.length }}</h6>
  	<h3 class="accent">Class of</h3>
    <h3 class="uppercase">{{ category.title }}</h3>
    {% set image = category.featureImage.first() %}
    {% if image %}
    <img src="{{ image.getUrl }}" alt="{{ image.title }}"/>
    {% endif %}
    </a>
  </div>
{% endfor %}
</div>
</div>
				
{% endblock %}